.login-page-layout-child,
.login-page-layout-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.login-page-layout-child {
  object-fit: cover;
  display: none;
}
.login-page-layout-item {
  background-color: var(--color-gray-1600);
  z-index: 1;
}
.screenshot-94-removebg-previ-icon5,
.screenshot-95-removebg-previ-icon1 {
  position: absolute;
  top: 46px;
  left: 76px;
  width: 51px;
  height: 45px;
  object-fit: contain;
  z-index: 2;
}
.screenshot-95-removebg-previ-icon1 {
  top: 51px;
  left: 131px;
  width: 188px;
  height: 34px;
}
.login-page-layout {
  height: 1080px;
  flex: 1;
  position: relative;
  background-image: url(/public/login-page-layout@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 742px;
  max-width: 100%;
}
.registration {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
}
@media screen and (max-width: 1525px) {
  .registration {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .login-page-layout {
    min-width: 100%;
  }
}