.frame-child10 {
  align-self: stretch;
  height: 203px;
  position: relative;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-white);
  display: none;
}
.screenshot-94-removebg-previ-icon4 {
  align-self: stretch;
  height: 45px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.screenshot-94-removebg-previ-wrapper {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.logo-1-icon3 {
  width: 204px;
  height: 37px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.logo-1-wrapper {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child11 {
  height: 52px;
  width: 597px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.cement,
.vector-icon6 {
  position: relative;
  z-index: 1;
}
.cement {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.vector-icon6 {
  width: 23px;
  height: 23px;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frame-container,
.rectangle-parent67 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent67 {
  width: 597px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-6xl) var(--padding-2xs)
    var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.account3,
.icon3 {
  position: relative;
  z-index: 1;
}
.icon3 {
  height: 39px;
  width: 39px;
  min-height: 39px;
}
.account3 {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
}
.account-wrapper,
.parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-3) 0 0;
}
.parent2 {
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 0;
  gap: var(--gap-2xs);
}
.cart-shopping-svgrepo-com-1-icon3 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.cart3 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.cart-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.cart-shopping-svgrepo-com-1-parent1,
.cart-wrapper,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-shopping-svgrepo-com-1-parent1 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.frame-wrapper2 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.frame-child12 {
  width: 7px;
  height: 22.7px;
  position: relative;
  z-index: 1;
}
.frame-parent1,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs-6) 0 0;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-group,
.frame-wrapper,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper1 {
  width: 355px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs-7) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  color: var(--color);
}
.frame-group,
.frame-wrapper {
  flex-direction: row;
}
.frame-group {
  width: 1661px;
  justify-content: flex-start;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
  box-sizing: border-box;
}
.frame-child13 {
  height: 73px;
  width: 1920px;
  position: relative;
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.frame-child14 {
  height: 46px;
  width: 57px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
  display: none;
}
.all3 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 24px;
  z-index: 1;
}
.frame-child15,
.rectangle-parent69 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent69 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base) var(--padding-2xs)
    var(--padding-mid);
  z-index: 2;
}
.frame-child15 {
  height: 46px;
  width: 111px;
  position: relative;
  display: none;
}
.masonry4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.frame-child16,
.rectangle-parent70 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent70 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-smi) var(--padding-2xs)
    var(--padding-sm);
  z-index: 2;
}
.frame-child16 {
  height: 46px;
  width: 174px;
  position: relative;
  display: none;
}
.concrete-ready4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.frame-child17,
.rectangle-parent71 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent71 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs);
  white-space: nowrap;
  z-index: 2;
}
.frame-child17 {
  height: 46px;
  width: 178px;
  position: relative;
  display: none;
}
.plaster-mortar4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.frame-child18,
.rectangle-parent72 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent72 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs);
  white-space: nowrap;
  z-index: 2;
}
.frame-child18 {
  height: 46px;
  width: 91px;
  position: relative;
  display: none;
}
.precast4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 74px;
  z-index: 1;
}
.frame-child19,
.rectangle-parent73 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent73 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-7xs) var(--padding-2xs)
    var(--padding-2xs);
  z-index: 2;
}
.frame-child19 {
  height: 46px;
  width: 196px;
  position: relative;
  display: none;
}
.drywall-gypsum4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.frame-child20,
.rectangle-parent74 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent74 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs);
  white-space: nowrap;
  z-index: 2;
}
.frame-child20 {
  height: 46px;
  width: 126px;
  position: relative;
  display: none;
}
.landscape4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 108px;
  z-index: 1;
}
.frame-child21,
.rectangle-parent75 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent75 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-6xs) var(--padding-2xs)
    var(--padding-2xs);
  z-index: 2;
}
.frame-child21 {
  height: 46px;
  width: 183px;
  position: relative;
  display: none;
}
.steel-scaffolding4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.frame-child22,
.rectangle-parent76 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent76 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xs)
    var(--padding-2xs);
  white-space: nowrap;
  z-index: 2;
}
.frame-child22 {
  height: 46px;
  width: 121px;
  position: relative;
  display: none;
}
.chemicals4 {
  text-decoration: none;
  position: relative;
  font-size: var(--xl-semibold-size);
  font-family: var(--font-inter);
  color: var(--color);
  text-align: left;
  display: inline-block;
  min-width: 101px;
  z-index: 1;
}
.frame-child23,
.group-button {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-4xs) var(--padding-2xs)
    var(--padding-2xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.group-button:hover {
  background-color: var(--color-gainsboro-100);
}
.frame-child23 {
  height: 46px;
  width: 162px;
  position: relative;
  display: none;
}
.cement-sand4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.frame-child24,
.rectangle-parent77 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
}
.rectangle-parent77 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xs)
    var(--padding-2xs);
  white-space: nowrap;
  z-index: 2;
}
.frame-child24 {
  height: 46px;
  width: 139px;
  position: relative;
  display: none;
}
.white-wood4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 117px;
  z-index: 1;
}
.rectangle-parent68,
.rectangle-parent78 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent78 {
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
  justify-content: flex-start;
  padding: var(--padding-2xs);
  z-index: 2;
}
.rectangle-parent68 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  z-index: 1;
  color: var(--color);
  font-family: var(--font-inter);
}
.frame-header,
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-header {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-white);
  padding: var(--padding-20xl) 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  text-align: left;
  font-size: var(--xl-semibold-size);
  color: var(--color-seagreen-200);
  font-family: var(--sm-medium);
}
.frame-parent {
  gap: var(--gap-22xl);
}
.products-separator-icon {
  width: 168px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 551px;
  left: 223px;
  object-fit: contain;
  z-index: 1;
}
.search3 {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 419px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .search3 {
    gap: 209px;
  }
}
@media screen and (max-width: 900px) {
  .frame-parent {
    gap: var(--gap-xl);
  }
  .search3 {
    gap: 105px;
  }
}
