.group-child244 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  width: 334.7px;
  height: 272px;
}
.istockphoto-476199756-612x612-icon21 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.052);
}
.wrapper-istockphoto-476199756-21 {
  position: absolute;
  top: 25px;
  left: 36.1px;
  border-radius: var(--br-mini);
  width: 263.5px;
  height: 221px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b22,
.cement-bags-2517,
.div37 {
  position: absolute;
  top: 282px;
  left: 2.1px;
  display: inline-block;
  width: 226.3px;
}
.b22,
.div37 {
  top: 340px;
  left: 4.2px;
  width: 64.8px;
}
.div37 {
  top: 347px;
  left: 77.6px;
  font-size: var(--sm-medium-size);
  font-weight: 500;
  color: var(--color-dimgray-200);
  width: 46.8px;
}
.group-child245,
.group-child246,
.group-child247 {
  position: absolute;
  top: 316px;
  left: 4.2px;
  width: 21.3px;
  height: 20px;
}
.group-child246,
.group-child247 {
  left: 25.5px;
  width: 19.1px;
}
.group-child247 {
  left: 44.6px;
  width: 21.3px;
}
.group-child248,
.group-child249,
.reviews24 {
  position: absolute;
  top: 316px;
  left: 65.9px;
  width: 19.1px;
  height: 20px;
}
.group-child249,
.reviews24 {
  left: 85px;
  width: 21.3px;
}
.reviews24 {
  top: 322px;
  left: 112.6px;
  font-size: var(--sm-medium-size);
  line-height: 10px;
  font-weight: 500;
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 158.3px;
  height: 11px;
}
.group-child250,
.group-child251 {
  position: absolute;
  box-sizing: border-box;
}
.group-child250 {
  top: 374px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--neutral-white);
  border: 1.5px solid var(--color-orangered-100);
  width: 334.7px;
  height: 40px;
}
.group-child251 {
  top: 358px;
  left: 70.1px;
  border-top: 1.5px solid var(--color-dimgray-200);
  width: 55.7px;
  height: 1.5px;
}
.add-to-cart22 {
  position: absolute;
  top: 388px;
  left: 108.4px;
  font-size: var(--base-regular-size);
  line-height: 10px;
  font-weight: 600;
  color: var(--color-orangered-100);
  display: inline-block;
  width: 117.9px;
  height: 11px;
}
.heart-like-svgrepo-com-1-icon17 {
  position: absolute;
  top: 18px;
  left: 283.7px;
  width: 31.9px;
  height: 30px;
  overflow: hidden;
}
.rectangle-parent88 {
  position: absolute;
  top: 0;
  left: 884.2px;
  width: 334.7px;
  height: 414px;
  text-align: left;
  font-size: var(--xl-semibold-size);
  color: var(--color);
  font-family: var(--sm-medium);
}
