.benefits-header-child {
  height: 450px;
  width: 1919px;
  position: relative;
  background-color: var(--color-powderblue);
  display: none;
  max-width: 100%;
}
.frame-child119 {
  height: 179.3px;
  width: 192px;
  position: relative;
  box-shadow: 0 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-21xl) 0 var(--br-21xl) 0;
  background-color: var(--neutral-white);
  display: none;
}
.p1 {
  margin: 0;
  font-weight: 800;
}
.customers1 {
  margin: 0;
  font-size: var(--font-size-4xl);
  font-weight: 300;
}
.customers {
  height: 82px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.rectangle-parent161 {
  width: 192px;
  box-shadow: 0 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-21xl) 0 var(--br-21xl) 0;
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-27xl) var(--padding-10xl) var(--padding-32xl-3);
  box-sizing: border-box;
  z-index: 2;
}
.benefit-category-list-child {
  height: 93.6px;
  width: 226.3px;
  position: absolute;
  margin: 0 !important;
  bottom: -8.9px;
  left: -214.8px;
  z-index: 1;
}
.frame-child120 {
  height: 179.3px;
  width: 192px;
  position: relative;
  box-shadow: 0 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-21xl) 0 var(--br-21xl) 0;
  background-color: var(--neutral-white);
  display: none;
}
.p2 {
  margin: 0;
  font-weight: 800;
}
.orders1 {
  margin: 0;
  font-size: var(--font-size-4xl);
  font-weight: 300;
}
.orders {
  height: 82px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.benefit-category-list,
.rectangle-parent162 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent162 {
  flex: 1;
  box-shadow: 0 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-21xl) 0 var(--br-21xl) 0;
  background-color: var(--neutral-white);
  padding: var(--padding-35xl) var(--padding-lg) var(--padding-24xl-3);
  z-index: 2;
}
.benefit-category-list {
  width: 192px;
  position: relative;
}
.benefits-header,
.benefits-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.benefits-header {
  flex: 1;
  background-color: var(--color-powderblue);
  justify-content: space-between;
  padding: var(--padding-69xl) var(--padding-240xl) var(--padding-69xl-1)
    var(--padding-247xl);
  gap: var(--gap-xl);
}
.benefits-header-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-25xl) var(--padding-12xs);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color);
  font-family: var(--sm-medium);
}
@media screen and (max-width: 1700px) {
  .benefits-header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1325px) {
  .benefits-header {
    padding-left: var(--padding-114xl);
    padding-right: var(--padding-110xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .benefits-header {
    padding-left: var(--padding-47xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
  .benefits-header-wrapper {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .customers,
  .orders {
    font-size: var(--font-size-lg);
  }
  .benefits-header {
    padding-top: var(--padding-38xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
}