.group-child233 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  width: 1920px;
  height: 451px;
}
.bricksnmix-transforming-online,
.by-fast-delivery,
.shopping,
.to-enrich-your {
  margin: 0;
}
.bricksnmix-transforming-online-container {
  position: absolute;
  top: 164px;
  left: 132px;
}
.screenshot-94-removebg-previ-icon6,
.screenshot-95-removebg-previ-icon2 {
  position: absolute;
  top: 40px;
  left: 185px;
  width: 188px;
  height: 34px;
  object-fit: contain;
}
.screenshot-94-removebg-previ-icon6 {
  top: 34px;
  left: 132px;
  width: 51px;
  height: 45px;
}
.about-bricksnmixcom {
  position: absolute;
  top: 57px;
  left: calc(50% - 349px);
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  width: 698px;
  height: 11px;
}
.about-us,
.become-a-seller {
  position: absolute;
  top: 121px;
  left: 134px;
  font-size: var(--xl-semibold-size);
  color: var(--neutral-white);
  display: inline-block;
  width: 93px;
}
.become-a-seller {
  top: 290px;
  width: 166px;
}
.bricksnmix-support-team,
.high-priority-to,
.our-customers-we {
  margin: 0;
}
.bricksnmix-support-team-container {
  position: absolute;
  top: 164px;
  left: 776px;
}
.copyright-2024-bricksnmixcom {
  position: absolute;
  top: 393px;
  left: 825px;
}
.connect-with-us,
.customer-support {
  position: absolute;
  top: 121px;
  left: 776px;
  font-size: var(--xl-semibold-size);
  color: var(--neutral-white);
  display: inline-block;
  width: 238px;
}
.connect-with-us {
  left: 1563px;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 6.65%;
  width: 1.56%;
  top: 36.36%;
  right: 17.08%;
  bottom: 56.98%;
  left: 81.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon9 {
  right: 14.27%;
  left: 84.17%;
}
.vector-icon10 {
  right: 11.46%;
  left: 86.98%;
}
.twitter-rounded-svgrepo-com-icon {
  position: absolute;
  top: 164px;
  left: 1724px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.group-child234 {
  position: absolute;
  top: 329px;
  left: 134px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 203px;
  height: 35px;
}
.register-as-seller1 {
  position: absolute;
  top: 335px;
  left: 171px;
  font-weight: 500;
  color: var(--color-seagreen-100);
}
.group-child235 {
  position: absolute;
  top: 329px;
  left: 358px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 203px;
  height: 35px;
}
.login-as-seller {
  position: absolute;
  top: 335px;
  left: 406px;
  font-weight: 500;
  color: var(--color-seagreen-100);
}
.rectangle-parent86 {
  position: absolute;
  top: 7307px;
  left: 0;
  width: 1920px;
  height: 451px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--sm-medium);
}
