.header-child {
  align-self: stretch;
  height: 203px;
  position: relative;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-white);
  display: none;
}
.screenshot-94-removebg-previ-icon16 {
  height: 45px;
  width: 51px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-1-icon11 {
  align-self: stretch;
  height: 37px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.brand-logo,
.logo-padding,
.logo-spacing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-logo {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.logo-padding,
.logo-spacing {
  width: 255px;
  flex-direction: row;
}
.logo-padding {
  width: 353px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child124 {
  height: 52px;
  width: 597px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.cement4 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.slogan-shape-icon {
  width: 23px;
  height: 23px;
  position: relative;
  z-index: 1;
}
.rectangle-parent166,
.slogan-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.rectangle-parent166 {
  width: 597px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-6xl) var(--padding-2xs)
    var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.account8,
.icon13 {
  position: relative;
  z-index: 1;
}
.icon13 {
  height: 39px;
  width: 39px;
  min-height: 39px;
}
.account8 {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
}
.parent6,
.user-account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-account {
  flex-direction: column;
  padding: var(--padding-8xs-3) 0 0;
}
.parent6 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.cart-shopping-svgrepo-com-1-icon8 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.cart10 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 49px;
  z-index: 1;
}
.cart-label,
.cart-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-label {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.cart-link {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.cart-link-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs-3) 0 0;
}
.cart-link-wrapper,
.nav-links,
.navigation1 {
  display: flex;
  align-items: flex-start;
}
.nav-links {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigation1 {
  width: 297px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs-7) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  color: var(--color);
}
.header1,
.logo-container,
.logo-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.logo-wrap {
  width: 1603px;
  justify-content: flex-start;
  gap: var(--gap-159xl);
}
.header1,
.logo-container {
  width: 1865px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-white);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 var(--padding-smi);
  gap: var(--gap-7xl);
  text-align: left;
  font-size: var(--xl-semibold-size);
  color: var(--color-seagreen-200);
  font-family: var(--sm-medium);
}
@media screen and (max-width: 1225px) {
  .logo-wrap {
    gap: var(--gap-70xl);
  }
}
@media screen and (max-width: 850px) {
  .logo-wrap {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 450px) {
  .logo-wrap {
    gap: var(--gap-3xl);
  }
}