@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --sm-medium: Poppins;
  --font-be-vietnam-pro: "Be Vietnam Pro";
  --text-s-regular: "Public Sans";
  --font-hind-vadodara: "Hind Vadodara";

  /* font sizes */
  --xl-semibold-size: 20px;
  --font-size-3xl: 22px;
  --font-size-lgi-9: 19.9px;
  --font-size-13xl: 32px;
  --font-size-3xs-5: 9.5px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-29xl: 48px;
  --base-regular-size: 16px;
  --sm-medium-size: 14px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-lgi: 19px;
  --font-size-smi: 13px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --text-s-regular-size: 12px;
  --font-size-9xl: 28px;
  --font-size-3xs: 10px;
  --font-size-7xl: 26px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-4xl: 23px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;

  /* Colors */
  --neutral-white: #fff;
  --color: #000;
  --color-whitesmoke-300: #f8f9fa;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f0f2f5;
  --neutral-gray-gray-50: #f0f1f3;
  --color-whitesmoke-400: #f2edee;
  --color-dimgray-100: #747474;
  --color-dimgray-200: #606060;
  --color-seagreen-100: #106939;
  --color-seagreen-200: #116839;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-300: #e0e2e7;
  --color-gainsboro-200: #d9d9d9;
  --color-mediumseagreen-100: #03c68b;
  --neutral-black-black-400: #4a4c56;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #222b45;
  --color-gray-100: #fffeff;
  --neutral-black-black-300: #777980;
  --color-gray-200: #797979;
  --color-gray-300: #27282a;
  --color-gray-400: #231f20;
  --neutral-black-black-500: #1d1f2c;
  --color-gray-500: #1e1e1f;
  --color-gray-600: #1e1c1c;
  --color-gray-1000: #121417;
  --color-gray-700: #01152f;
  --color-gray-1100: #0b0b0e;
  --color-gray-1600: rgba(4, 0, 0, 0.16);
  --color-gray-1200: rgba(255, 255, 255, 0.75);
  --color-gray-1300: rgba(255, 255, 255, 0.2);
  --color-gray-1400: rgba(255, 255, 255, 0.8);
  --color-gray-1500: rgba(255, 255, 255, 0.15);
  --color-gray-800: rgba(121, 121, 121, 0.8);
  --color-gray-900: rgba(255, 255, 255, 0.5);
  --color-silver-100: #c7c7c7;
  --color-silver-300: #bdc9d3;
  --color-silver-200: #c6c6c6;
  --color-silver-400: #c3c3c3;
  --color-silver-500: #bebebe;
  --color-darkslateblue: #022655;
  --color-orangered-100: #ff6624;
  --color-orangered-700: #ff6600;
  --color-orangered-200: #e64d0a;
  --color-orangered-800: #e64d00;
  --color-orangered-300: rgba(255, 102, 36, 0.57);
  --color-orangered-400: rgba(255, 102, 36, 0.23);
  --color-orangered-600: rgba(255, 102, 36, 0.2);
  --color-crimson: #ef3939;
  --neutral-black-black-100: #d2d2d5;
  --color-lightgray-100: #cececf;
  --color-lightgray-200: #cdcaca;
  --color-lightgray-300: rgba(205, 203, 203, 0.5);
  --neutral-gray-gray-500: #667085;
  --iris-100: #5d5fef;
  --secondary-orange-orange-500: #f86624;
  --secondary-red-red-500: #f04438;
  --secondary-cyan-cyan-500: #2bb2fe;
  --secondary-blue-blue-500: #3250ff;
  --primary-primary-500: #883dcf;
  --secondary-green-green-500: #22caad;
  --color-lightslategray: #96a5b8;
  --color-aliceblue: #edf2f6;
  --primary-dark-shade: #05004e;
  --color-darkgray-100: #979699;
  --color-darkgray-200: rgba(151, 150, 153, 0.24);
  --color-darkgray-300: rgba(151, 150, 153, 0.11);
  --color-mediumblue: #3e00c2;
  --color-powderblue: #a7cab7;
  --color-mistyrose-100: #ffded0;
  --color-forestgreen: #11b13e;

  /* Gaps */
  --gap-10xl: 29px;
  --gap-4xs: 9px;
  --gap-2xl: 21px;
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-5xl: 24px;
  --gap-115xl: 134px;
  --gap-14xl: 33px;
  --gap-mid: 17px;
  --gap-48xl: 67px;
  --gap-11xs: 2px;
  --gap-22xl: 41px;
  --gap-16xl: 35px;
  --gap-81xl: 100px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-3xs-5: 9.5px;
  --gap-10xs: 3px;
  --gap-7xs: 6px;
  --gap-11xl: 30px;
  --gap-7xl: 26px;
  --gap-12xs: 1px;
  --gap-6xs-7: 6.7px;
  --gap-xs: 12px;
  --gap-2xs: 11px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-3xl: 22px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-10xl-5: 29.5px;
  --gap-smi-6: 12.6px;
  --gap-9xs: 4px;
  --gap-8xs: 5px;
  --gap-lg: 18px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-54xl: 73px;
  --gap-59xl: 78px;
  --gap-18xl: 37px;
  --gap-21xl-7: 40.7px;
  --gap-sm: 14px;
  --gap-mini-5: 14.5px;
  --gap-28xl: 47px;
  --gap-6xs-9: 6.9px;
  --gap-mini-3: 14.3px;
  --gap-12xs-2: 0.2px;
  --gap-14xl-5: 33.5px;
  --gap-6xs: 7px;
  --gap-21xl: 40px;
  --gap-23xl: 42px;
  --gap-40xl: 59px;
  --gap-base-5: 16.5px;
  --gap-41xl: 60px;
  --gap-3xs: 10px;
  --gap-39xl: 58px;
  --gap-6xl-5: 25.5px;
  --gap-24xl-5: 43.5px;
  --gap-28xl-5: 47.5px;
  --gap-572xl: 591px;
  --gap-129xl: 148px;
  --gap-55xl: 74px;
  --gap-276xl: 295px;
  --gap-159xl: 178px;
  --gap-25xl: 44px;
  --gap-70xl: 89px;
  --gap-24xl: 43px;
  --gap-122xl: 141px;
  --gap-51xl: 70px;
  --gap-9xs-5: 3.5px;
  --gap-16xl-3: 35.3px;
  --gap-7xs-5: 5.5px;
  --gap-59xl-7: 78.7px;
  --gap-9xs-3: 3.3px;
  --gap-9xs-4: 3.4px;
  --gap-6xs-3: 6.3px;
  --gap-sm-8: 13.8px;
  --gap-12xl-9: 31.9px;
  --gap-15xl: 34px;
  --gap-2xs-6: 10.6px;
  --gap-lg-3: 18.3px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-8xs-8: 4.8px;
  --padding-15xl: 34px;
  --padding-100xl: 119px;
  --padding-16xl: 35px;
  --padding-113xl: 132px;
  --padding-14xl: 33px;
  --padding-10xl: 29px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-47xl: 66px;
  --padding-40xl: 59px;
  --padding-75xl: 94px;
  --padding-28xl: 47px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-29xl: 48px;
  --padding-18xl: 37px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-smi: 13px;
  --padding-xl: 20px;
  --padding-lg: 18px;
  --padding-9xl: 28px;
  --padding-mid: 17px;
  --padding-12xl: 31px;
  --padding-7xl: 26px;
  --padding-2xl: 21px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-10xs: 3px;
  --padding-5xl: 24px;
  --padding-39xl: 58px;
  --padding-33xl: 52px;
  --padding-21xl: 40px;
  --padding-sm: 14px;
  --padding-13xl: 32px;
  --padding-7xs-7: 5.7px;
  --padding-xs: 12px;
  --padding-50xl: 69px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-base: 16px;
  --padding-8xs-7: 4.7px;
  --padding-3xs-6: 9.6px;
  --padding-11xs-3: 1.3px;
  --padding-5xs: 8px;
  --padding-8xs-3: 4.3px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-82xl: 101px;
  --padding-84xl: 103px;
  --padding-48xl: 67px;
  --padding-24xl: 43px;
  --padding-25xl: 44px;
  --padding-18xl-5: 37.5px;
  --padding-base-5: 16.5px;
  --padding-7xs-5: 5.5px;
  --padding-3xs-5: 9.5px;
  --padding-4xs-3: 8.3px;
  --padding-3xs-8: 9.8px;
  --padding-42xl: 61px;
  --padding-54xl: 73px;
  --padding-8xs-5: 4.5px;
  --padding-88xl: 107px;
  --padding-517xl: 536px;
  --padding-51xl: 70px;
  --padding-329xl: 348px;
  --padding-26xl: 45px;
  --padding-207xl: 226px;
  --padding-10xs-5: 2.5px;
  --padding-19xl: 38px;
  --padding-523xl: 542px;
  --padding-333xl: 352px;
  --padding-210xl: 229px;
  --padding-70xl: 89px;
  --padding-37xl: 56px;
  --padding-81xl: 100px;
  --padding-8xl: 27px;
  --padding-xs-6: 11.6px;
  --padding-6xs-5: 6.5px;
  --padding-smi-7: 12.7px;
  --padding-xs-5: 11.5px;
  --padding-11xs-5: 1.5px;
  --padding-22xl: 41px;
  --padding-lgi: 19px;
  --padding-67xl: 86px;
  --padding-66xl: 85px;
  --padding-112xl: 131px;
  --padding-mini: 15px;
  --padding-87xl: 106px;
  --padding-89xl: 108px;
  --padding-35xl: 54px;
  --padding-23xl: 42px;
  --padding-17xl: 36px;
  --padding-46xl: 65px;
  --padding-mini-4: 14.4px;
  --padding-64xl: 83px;
  --padding-45xl: 64px;
  --padding-41xl: 60px;
  --padding-34xl: 53px;
  --padding-59xl-1: 78.1px;
  --padding-32xl: 51px;
  --padding-69xl: 88px;
  --padding-240xl: 259px;
  --padding-69xl-1: 88.1px;
  --padding-247xl: 266px;
  --padding-38xl: 57px;
  --padding-114xl: 133px;
  --padding-110xl: 129px;
  --padding-30xl-4: 49.4px;
  --padding-28xl-9: 47.9px;
  --padding-24xl-3: 43.3px;
  --padding-26xl-4: 45.4px;
  --padding-32xl-9: 51.9px;
  --padding-27xl: 46px;
  --padding-32xl-3: 51.3px;
  --padding-56xl: 75px;
  --padding-111xl: 130px;
  --padding-147xl: 166px;
  --padding-30xl: 49px;
  --padding-123xl: 142px;
  --padding-83xl: 102px;
  --padding-57xl: 76px;
  --padding-3xl-7: 22.7px;
  --padding-2xs-7: 10.7px;
  --padding-base-7: 15.7px;
  --padding-xs-7: 11.7px;
  --padding-3xl-9: 22.9px;
  --padding-4xl-8: 23.8px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-xs: 12px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-6xs: 7px;
  --br-81xl: 100px;
  --br-11xs: 2px;
  --br-12xs: 1px;
  --br-9xl: 28px;
  --br-21xl: 40px;
  --br-10xs: 3px;

  /* Effects */
  --soft-shadow: 0px 4px 30px rgba(46, 45, 116, 0.05);
}
